body {
    font-family: Helvetica, Arial, Sans-Serif;
  }
  
  div {
      height: 1920px;
      padding: 100px;
      
  }
  
  #up {    
      background-image: url(imagenes/fondo.jpg);
  }
  
  
  h1 {
      font-size: 48px;
      font-weight: 100;
  }
  
  h2 {
      margin-bottom: 100px;
  }
  
  p {
      font-size: 24px;
  }
  
  .smallfont {
      font-size: 12px;
      color: gray;    
  }
  
  #menumiddle {
      margin-top: 100px;    
  }
  
  #down {    
      background-color: black;
      color: whitesmoke;
      font-size: 50px;
  }
  
  ul {
      list-style-type: none; 
      padding-left: 0;
  }
  
  li {
      margin-top: 30px;    
  }

  a[href="#"]:hover {
    text-decoration: line-through;
    color: red;
  }

  a[href]:not([href="#"]):hover {
    text-decoration: underline;
    color:blue;
    }

    .navegacion{
        position: absolute;
        top: 45%; 
        left: 23%;

    }

    .botones{
        list-style: none; /* Elimina los puntos de lista */
        display: flex; /* Alinea los elementos en línea horizontal */
        gap: 20px; 
        font-size: 40px;
    }
    
    .botones a { 
        color: #fff; 
        text-decoration: none; 
    }
    
    .botones a:hover {
        text-decoration: none;
    }