#logo{
    height: 15vh;
    margin-top: 4vh;
}

#navegacion{
    height: 90vh;
    margin-top: 4vh;
}

#contenido{
    height: 75vh;
}

#pie{
    height: 5vh;
}

.col-sm-8{
    padding: 0vh;
}

@media (max-width: 576px) { 
    #navegacion{
        height: 40vh;
    }

    #contenido{
        height: 40vh;
    }
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.header a:hover {
    color: red;
}

.carousel-inner img {
    height: 65vh;
    object-fit: contain;
}

#menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#menu-bar .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menu-bar .menu li {
    margin: 0 15px;
}

#menu-bar .menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s, margin-left 0.3s;
}

#pie {
    text-align: center;
    background-color: black;
    color: white;
}

#logo {
    height: 15vh;
    margin-top: 4vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 194, 252);
    color: rgb(226, 0, 0);
   
}

#contenido {
    text-align: center;
    background-color: rgb(226, 0, 0);
    color: rgb(255, 194, 252);
}

#navegacion {
    padding-top: 50px;
    text-align: center;
}

#navegacion ul {
    list-style: none;
    padding: 0;
}

#navegacion ul li {
    margin: 50px 0; /* Espacio entre botones */
}

.btn-artista {
    display: inline; /* Hace que ocupen toda la línea */
    width: 30%; /* Botón del tamaño del contenedor */
    padding: 10px 15px;
    background-color: rgb(255, 194, 252); /* Color de fondo */
    color: rgb(226, 0, 0); /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 25px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Efecto de transición */
    padding: 10px 15px;
}

.btn-artista:hover {
    background-color: rgb(226, 0, 0); /* Color al pasar el ratón */
    color: rgb(255, 194, 252);
}